
.itemContainer{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 
        "link header" 
        "tableInfo image"
        "description description";
     grid-template-columns: 2fr 3fr;
     align-items: center;
      
}

.itemContainer > div.linkBack > a{
    grid-area: link;
}

.linkBack, .buttonToggleFavorite{
    background-color: #ffc107;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: black;
    width: max-content;
    font-size: 20px;
    margin-left: 20px;
}

.linkBack:hover, .buttonToggleFavorite:hover{
    filter: 
        drop-shadow(0 0 8px rgb(255, 234, 0));
}

.itemContainer > div.itemHeader > h1{
    grid-area: header;
}

h1{
    display: flex;
    justify-content:flex-end;
    margin: 0px 10px;
    padding-right: 100px;

}

.itemContainer > table.tableInfo{
    grid-area: tableInfo;
    display: grid;
    justify-items: end;
    text-align: end;
    
}
tbody, tr, td{
    padding: 0px 5px;
    font-size: 20px;
    
}
td.property:hover{
    
    color: #ffc107;
}
td.information{
    text-align: start;
    padding-left: 20px;
}

.itemContainer > img.imageItem{
    grid-area: image;
    width: 70%;
    display: flex;
    justify-self: center;
}
.itemContainer > div.description{
    grid-area: description;
    font-size: 20px;
    padding: 0px 30px;
}

